<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h1>All Products</h1>
    <a href="{% url 'products:add_product' %}">Add New Product</a>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'products:product_detail' product.pk %}">
                    <strong>{{ product.name }}</strong>
                </a><br>
                Price: ${{ product.price }}<br>
                Category: {{ product.category.name }}<br>
                Description: {{ product.description }}<br>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150">
                {% endif %}
            </li>
        {% empty %}
            <li>No products available.</li>
        {% endfor %}
    </ul>
</body>
</html>


